spring:
  application:
    name: chatclient-defaults-advisors-sample
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7
server:
  port: 9105
logging:
  level:
    org.springframework.ai: DEBUG
